
body{
    margin: 0;
    padding: 0;
    width: 100%; 
}

section{
    min-height:1000px;
    margin-top: 300px;
}

/********** nav-bar *********
****************************
*****************************/

.nav-item{
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
}

.navbar{
    width: 100%;
}

#navb ul li a{
    color:#143cdf;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-right:30px;
}
#navb ul li a:hover{
    color:#000;
}

/* .line{
    position: relative;
    top: 50%;
    width:15em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    
} */

/*********** Animation ************
***********************************
***********************************/

/* .anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}


@keyframes typewriter{
    from{
        width:0;
    }
    to{
        width:10em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color:rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
} */

/* .container1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  /*Intro CSS */
.caption-intro{
	padding-top: 200px;
	padding-bottom: 120px;
	text-align: center;
}
.caption-intro h1 {
	text-transform: uppercase;
	padding-bottom: 15px;
	font-weight: 300;
  font-size: 30px;
}


.cd-headline {
  font-size: 60px;
  line-height: 1.2;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
  color:#000;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
  margin-top: -100px;
  color: #fff;;
}

.cd-headline b.is-visible {
  opacity: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-weight: 700;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.container-top p{
    text-align: center;
    
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 4px;
    color:#fff;
    
}

.container-top h1{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: #000;
}

.container-top h2{
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
    color:#000;
}

.container-top{
    width: 100%;
    padding: 0 10%;
    display: table;
    margin: 0;
    max-width: none;
    height: 85vh;
    padding-top: 100px;
    position: relative;
    background: linear-gradient(-45deg,#143cdf,#f403d1);
}

.container-top:before{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    top:785px;
    width:100%;
    height:215px;
    background:url('img/wave.png');
   background-size: cover;
    background-repeat: no-repeat;
}

h2 span{
    color:#e0e1e2;
    text-decoration: underline;
}


.txt h2{
    color: #3356e2;
    font-weight: 800;
    font-size: 90px;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
    position: relative;
    display: block;
    text-align: start;
    margin-left: 100px;
    font-family: sans-serif;
    
}


.title1{
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 700; 
   margin-bottom: 50px;
   margin-top: -70px;
   padding-top: 50px;
} 

.subtitle{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

/******* Section Skill ********
********************************
********************************/

.title img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.title h2{
    font-size: 20px;
    position: relative;
    margin:20px 0 0;
    color:#fff;
    z-index: 2;
    
}

.skill{
    width: 100%;

    box-sizing: border-box;
    padding: 140px 0;
}

.skill-content{
    color: #fff;
    font-family: sans-serif;
    font-size:16px;
    padding-top: 10px;
    font-weight: 600;
}

.skill-content p{
    font-weight: 500;
}

.option li{
    list-style-type: none;
    font-family: sans-serif;
    color: #fff;
}

.option p{
    color:#fff;
    font-weight: 700;
    font-size: 18px;
}

.card{
    position: relative;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    margin:0 auto;
    box-shadow: 0 10px 15px -5px #00000070;
    transition: .5s;
    padding: 40px 20px;
    overflow: hidden;
    min-height: 100%;
}

.card:hover{
    transform: scale(1.1);
}

.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title img{
    background: linear-gradient(-45deg,#143cdf,#f403d1);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title img{
    background: linear-gradient(-45deg,#ffec61, #f321d7);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title img{
    background: linear-gradient(-45deg,#143cdf,#f403d1);
}

.card:before{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:40%;
    background: rgba(255,255,255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}

/************ PORTFOLIO **********
*********************************
**********************************/
.row{
    padding: 0;
}
#portfolio{

    margin-top: 20px;
    padding-top: 30px;

}
.container{
    width: 1200px;
    min-height: 500px;
    margin: 50px auto 0;
    text-align: center;
}
.container .box{
    position: relative;
    max-width:500px;
    max-height:420px;
    background: linear-gradient(-45deg,#f403d1, #64b5f6);
    text-align: center;
}

.container .box .imgBox{
    position: relative;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 0 10px 15px -5px #00000070;
}

.container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
    padding: 20px;
}

.container .box:hover .imgBox img{
    transform: scale(1.5);
}

.container .box .details{
    position: absolute;
    top:10px;
    left:10px;
    bottom: 10px;
    right:10px;
    background: linear-gradient(90deg,#143cdf,#869aeb);
    transform: scaleY(0);
    transition: transform .4s;
    opacity: 0.9;
}

.container .box:hover .details{
    transform: scaleY(1);
}

.container .box .details .content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 15px;
    color: #fff;
    text-align: center;
}

.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 25px;
    max-width: 100%;
}

.container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

.container h1{
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}



/* .content2{
    position: relative;
}

.content2 h2{
    position: absolute;
    
    font-size: 60px;
    text-align: center;
}

.content2 h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content2 h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
        54% 60%, 70% 61%, 84% 59%, 100% 52%,
        100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 60%, 16% 65%, 34% 66%,
        51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%,
        0% 100%);
    }
} */

.middle{
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding:20px;
  }
  .btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 70px;
    font-size: 26px;
    transition: 0.2s linear;
    color: #fff;
  }
  .btn:hover i{
    transform: scale(1.5);
    color: #f1f1f1;

  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #000;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    
  }
  .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
    
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }

 /*********** FOOTER ***************
 ***********************************
 ***********************************/

 .footer .middle{
    background: linear-gradient(-45deg,#143cdf,#f403d1);
   
 }

 .detail{
    margin-top: 20px;
 }

 .detail a{
    font-family: sans-serif;
    margin-left: 10px;
    font-weight:600;
    color: white;
 }

 .detail i{
    color:#fff;
 }

.detail a:hover{
    text-decoration: none;
    color: #3498db;
}
 .fa-phone{
    margin-top:10px; 
 }

 .btn2 {
    border: 2px solid #143cdf;
    background-color: #143cdf;
    color: black;
    padding: 6px 70px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
  }
/* Blue */
.info {
    border-color: #143cdf;
    color: white;
    
  }
  
  .info:hover {
    background: transparent;
    color: white;
  }

  /*********** BACK TO TOP ***********
  ************************************/

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3356e2;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  #myBtn i{
      width: 20px;
  }
